li{
 color:azure;
 border:3px solid plum;
 position:relative;  
 width:10%; 
}
a{
    display:block;
    cursor:pointer;
    padding: 5px 5px;
}

.nav-link{
    color:gray;
}
.lists{
height: 500px; 
overflow-y: scroll;
width:auto;
}